<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gb_seperate_111111111111</key>
	<string>login=================</string>
	<key>gb_login_login_type</key>
	<string>로그인 방식을 선택하세요</string>
	<key>gb_login_login_version</key>
	<string>Version：</string>
	<key>gb_login_login_privacydesc</key>
	<string>Agreement：</string>
	<key>gb_login_login_privacy</key>
	<string>Privacy</string>
	<key>gb_login_other_login_type</key>
	<string>또는 다음 방식으로 로그인</string>
	<key>gb_login_success</key>
	<string>로그인 성공</string>
	<key>gb_login_conect_error</key>
	<string>서버스 연결 오류…</string>
	<key>gb_login_guest</key>
	<string>게스트 로그인</string>
	<key>gb_login_gamebegin</key>
	<string>계정 로그인</string>
	<key>gb_login_facebook</key>
	<string>Facebook</string>
	<key>gb_login_twitter</key>
	<string>Twitter</string>
	<key>gb_login_line</key>
	<string>Line</string>
	<key>gb_login_googleplay</key>
	<string>Google Play</string>
	<key>gb_login_wx</key>
	<string>Wechat</string>
	<key>gb_login_qq</key>
	<string>QQ</string>
	<key>gb_login_hint_login_name</key>
	<string>이메일 또는 계정을 입력하세요</string>
	<key>gb_login_hint_login_psd</key>
	<string>비밀번호를 입력하세요</string>
	<key>gb_login_name_no_empty</key>
	<string>아이디는 비워 둘 수 없습니다</string>
	<key>gb_login_psd_no_empty</key>
	<string>비밀번호는 비워 둘 수 없습니다</string>
	<key>gb_login_name_wrong_length</key>
	<string>3~30자리의 아이디를 입력하세요</string>
	<key>gb_login_login_wrong_psd</key>
	<string>6~20자리의 비밀번호를 입력하세요</string>
	<key>gb_login_hint_register_name</key>
	<string>3~30자리의 아이디를 입력하세요</string>
	<key>gb_login_hint_register_psd</key>
	<string>6~20자리의 비밀번호를 입력하세요</string>
	<key>gb_seperate_2222222222</key>
	<string>登录页面=================</string>
	<key>gb_startgame</key>
	<string>게임 시작하기</string>
	<key>gb_login_gamebegin_login</key>
	<string>로그인</string>
	<key>gb_login_gamebegin_login_retrieve</key>
	<string>비밀번호 찾기</string>
	<key>gb_login_gamebegin_login_register</key>
	<string>빠른 가입</string>
	<key>gb_seperate_33333333333</key>
	<string>快速注册页面=================</string>
	<key>gb_login_gamebegin_register</key>
	<string>가입</string>
	<key>gb_login_gamebegin_register_auto</key>
	<string>빠른 가입</string>
	<key>gb_login_gamebegin_delete</key>
	<string>삭제</string>
	<key>gb_login_gamebegin_privacy_policy_dis</key>
	<string>약관동의</string>
	<key>gb_login_gamebegin_privacy_policy_btn</key>
	<string>(게임 서비스 이용 약관)</string>
	<key>gb_login_gamebegin_privacy_policy_check_text</key>
	<string>게임 서비스 이용 약관을 확인해 주세요</string>
	<key>gb_login_gamebegin_account_login</key>
	<string>계정 로그인</string>
	<key>gb_seperate_4444444444</key>
	<string>找回密码=================</string>
	<key>gb_login_retrieve_input_email_dis</key>
	<string>인증된 이메일을 통해서 비밀번호를 찾을 수 있습니다.</string>
	<key>gb_login_retrieve_input_email</key>
	<string>이메일 주소</string>
	<key>gb_login_retrieve_next</key>
	<string>다음</string>
	<key>gb_login_retrieve_input_cerrect_email</key>
	<string>정확한 이메일을 입력하세요</string>
	<key>gb_seperate_555555555555</key>
	<string>客服页面=================</string>
	<key>gb_gamebegin_account_security</key>
	<string>계정 보안</string>
	<key>gb_gamebegin_feedback</key>
	<string>고객 센터</string>
	<key>gb_gamebegin_logout</key>
	<string>나가기</string>
	<key>gb_seperate_6666666666</key>
	<string>账号升级=================</string>
	<key>gb_gamebegin_user_bind</key>
	<string>계정 업그레이드</string>
	<key>gb_gamebegin_user_bind_alert</key>
	<string>데이터 분실을 방지하기 위해 고객센터에서 게스트 게정을 일반 계정으로 업그레이드하세요</string>
	<key>gb_gamebegin_user_bind_success</key>
	<string>인증 성공</string>
	<key>gb_gamebegin_user_bind_type</key>
	<string>계정 보안</string>
	<key>gb_gamebegin_ok</key>
	<string>확인</string>
	<key>gb_gamebegin_cancel</key>
	<string>취소</string>
</dict>
</plist>
